<body class="adjust"><h2>Lets get started with data types</h2>
<ul class="list-group">
    <li class="list-group-item">Number</li>
    <p><br>Let a: number
        a=1; true
    a='2'; false, a can only hold numbers,
    Similarly a= 1.1; true

    </p>
    <li class="list-group-item">String</li>
    <p><br>Let color: string="blue";
        color=1 is false. Only holds string value.

    </p>
    <li class="list-group-item">Boolean</li>
    <p><br>Let done: boolean= false;
        whereever we use done it represents condition does not vali at this particular point.
        Boolean works like if-else like either true or false there is nothing between that.

    </p>
    <li class="list-group-item">Array</li>
    <br> <p>
        let list: number[ ]= &#123; 1,2,3 &#125;
        let list1: Array &lt; number &gt; = &#123; 1,2,3 &#125;
        let list: string []=&#123; "haroon", "Riasat", "Faizi" &#125;
    </p>

    <li class="list-group-item">Enum</li>
    <br> <p>
        Enum 
        Example: 
        speed, slow, medium, fast; <br>We mainly use enum where we have more than two options to select from. 
        Also we have to assign values to enum attributes to access them easily.  
        like 
        slow: 1;
        medium:2; and so on.<br>
        Other examples are:
        let go: direction;
        go= direction.up;
        go=direction.down;

    </p>
    <li class="list-group-item">Any</li>
    <br> <p>
        When you don't have any idea of datatype or you are confused between two, so choose this. 
    </p>
    <li class="list-group-item">Void</li>
    <br> <p>
        Kind of function. Used to denote the no return value functions.
    </p>
    <li class="list-group-item">Null</li>
    <br>
    <p>WE just validate that whether that object is empty or not. If not then add the actual value </p>
    <li class="list-group-item">Undefined</li>
    <br>
    <p>When any variable is not assigned to any value it will remian as undefined.</p>
    <li class="list-group-item">Objects</li>
    <br>
    <p>Object can not be of any data type. It is used to call classes. Each class 
        has its unique identifier and class attributes can be called from that object only.</p>
    <li class="list-group-item">Tupples</li>
    <br>
    <p>When we want to add two or more different data type values in one array we use tupple. Such as
        <br>
        let x : [string, number];
        <br>
        x= ["ali", 123]// True. We must need to follow the order of data types present inside array. 
        See example below <br>
        x=[123, "ali"]// is not true.
    </p>
  </ul>
</body>