<body class="adjust"><h2><b>Lets get started with Basic Math Operaters</b></h2>
    <ul class="list-group">
        <li class="list-group-item"><b>Binary</b></li>
        <p><br>One operator between two operands. Just like a+b, where <b>a and b</b> are operands and 
            <b>'+'</b> is operator. <br><b>Other examples are:</b><br>

let a=10;
let b=20
let sum = a+b;
console.log(sum) //30;
<br>
Example: string concatenation

let a ="Hello"
let b = "World"
let c = a+ " "+b
console.log(c) //"Hello World"
<br>Examples like a+b-c also comes under the binary.
<br>In these commands, <br>We simply apply D-MAS to two or more operands to
 display result in other operand.
        </p>
        <li class="list-group-item"><b>Unary Operators</b></li>
        <p><br>These operators operate or work on single operators. Just like x--, 
   <br>
   <b>Examples are:</b>
   This is the increment operator that increases the value by 1

Example:

<br>let a = 10;
a++;
console.log(a); //11<br>
++a;
console.log(a); //12
        </p>
        <li class="list-group-item"><b>Logical Operators</b></li>
        <p><br>Logical operators include &&, ||<br>These operaters are very useful when we have to validate more than one conditions. 
            <br><b>Example:</b>

            let a=10
            let b=15
            console.log(a > 5 && b > 5) //true
        </p>
      
        <li class="list-group-item"><b>Relational Operators</b></li>
        <p><br> Check the values of the two operands and valiadates whether equal or not. And also It converts 
            value to its conversable type. Basically it does not take type seriously. Operators are (==, !=,>,<,<=)
            <br><b>Example:</b>
<br>

let a = 10;
let b = 10;
let c = "10";
console.log(a==b); //true
console.log(a==c); //true
<br>
<b>Strict Equality Operator</b>
<br>
let a = 10;
let b = 10;
let c = "10";
console.log(a===b); //true
console.log(a===c); //false
It checks for the data types as well.
<br> <b>More Examples are</b>
<br>
let a = 5;
let b = 2;
console.log(a >= b); //true
console.log(a >= 4); //true
console.log(a >= 5); //true
console.log(a >= 6); //false
<br>
let a = 5;
let b = 2;
console.log(a < b); //false
console.log(a < 4); //false
console.log(a < 5); //false
console.log(a < 6); //true
        </p>

        
      </ul>
    </body>